


  

    <section class="product1">
        <div class="product">
            <img src="https://cdn.tgdd.vn/2020/06/content/hinh-nen-lien-minh-huyen-thoai-dep-mat-cho-pc-va-dien-thoai-14-574x1020.jpg" alt="Product 1">
            <div class="product-info">
                <div class="product-title">Product 1</div>
                <div class="product-description">Description of Product 1 goes here.</div>
                <div class="product-price">$99.99</div>
            </div>
        </div>

        <div class="product">
            <img src="https://cdn.tgdd.vn/2020/06/content/hinh-nen-lien-minh-huyen-thoai-dep-mat-cho-pc-va-dien-thoai-14-574x1020.jpg" alt="Product 2">
            <div class="product-info">
                <div class="product-title">Product 2</div>
                <div class="product-description">Description of Product 2 goes here.</div>
                <div class="product-price">$129.99</div>
            </div>
        </div>

        <div class="product">
          <img src="https://cdn.tgdd.vn/2020/06/content/hinh-nen-lien-minh-huyen-thoai-dep-mat-cho-pc-va-dien-thoai-14-574x1020.jpg" alt="Product 1">
          <div class="product-info">
              <div class="product-title">Product 1</div>
              <div class="product-description">Description of Product 1 goes here.</div>
              <div class="product-price">$99.99</div>
          </div>
      </div>

      <div class="product">
          <img src="https://cdn.tgdd.vn/2020/06/content/hinh-nen-lien-minh-huyen-thoai-dep-mat-cho-pc-va-dien-thoai-14-574x1020.jpg" alt="Product 2">
          <div class="product-info">
              <div class="product-title">Product 2</div>
              <div class="product-description">Description of Product 2 goes here.</div>
              <div class="product-price">$129.99</div>
          </div>
      </div>

    </section>

    <section class="product1">
      <div class="product">
          <img src="https://cdn.tgdd.vn/2020/06/content/hinh-nen-lien-minh-huyen-thoai-dep-mat-cho-pc-va-dien-thoai-14-574x1020.jpg" alt="Product 1">
          <div class="product-info">
              <div class="product-title">Product 1</div>
              <div class="product-description">Description of Product 1 goes here.</div>
              <div class="product-price">$99.99</div>
          </div>
      </div>

      <div class="product">
          <img src="https://cdn.tgdd.vn/2020/06/content/hinh-nen-lien-minh-huyen-thoai-dep-mat-cho-pc-va-dien-thoai-14-574x1020.jpg" alt="Product 2">
          <div class="product-info">
              <div class="product-title">Product 2</div>
              <div class="product-description">Description of Product 2 goes here.</div>
              <div class="product-price">$129.99</div>
          </div>
      </div>

      <div class="product">
        <img src="https://cdn.tgdd.vn/2020/06/content/hinh-nen-lien-minh-huyen-thoai-dep-mat-cho-pc-va-dien-thoai-14-574x1020.jpg" alt="Product 1">
        <div class="product-info">
            <div class="product-title">Product 1</div>
            <div class="product-description">Description of Product 1 goes here.</div>
            <div class="product-price">$99.99</div>
        </div>
    </div>

    <div class="product">
        <img src="https://cdn.tgdd.vn/2020/06/content/hinh-nen-lien-minh-huyen-thoai-dep-mat-cho-pc-va-dien-thoai-14-574x1020.jpg" alt="Product 2">
        <div class="product-info">
            <div class="product-title">Product 2</div>
            <div class="product-description">Description of Product 2 goes here.</div>
            <div class="product-price">$129.99</div>
        </div>
    </div>

  </section>




