

    <div id="banner">
        <div id="image-container">
            <img class="image" src="https://cdn.tgdd.vn/Files/2023/11/08/1554405/3-091123-143900.jpg"  alt="Image 1">
         
            <!-- Thêm các ảnh khác nếu cần -->
        </div>
        <!-- <button id="prev-btn" onclick="changeImage(-1)">❮</button>
        <button id="next-btn" onclick="changeImage(1)">❯</button> -->
    </div>

    <script>
        let currentIndex = 0;
        const totalImages = document.querySelectorAll('.image').length;
        const imageContainer = document.getElementById('image-container');

        function changeImage(direction) {
            currentIndex += direction;
            if (currentIndex < 0) {
                currentIndex = totalImages - 1;
            } else if (currentIndex >= totalImages) {
                currentIndex = 0;
            }

            const transformValue = -currentIndex * 100 + '%';
            imageContainer.style.transform = 'translateX(' + transformValue + ')';
        }

        // Tự động chuyển ảnh sau 3 giây
        setInterval(function() {
            changeImage(1);
        }, 3000);
    </script>


