#banner {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

#image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* .image {
    width: 100%;
    height: auto;
} */

#prev-btn, #next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border: none;
}

#prev-btn {
    left: 10px;
}

#next-btn {
    right: 10px;
}