body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.product-details-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
  margin: auto
}

.product-image {
    text-align: center;
}

.product-image img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.product-info {
    text-align: left;
}

.product-info h2 {
    color: #333;
}

.product-info p {
    color: #666;
}

.product-price {
    color: #4caf50;
    font-size: 1.5em;
    margin-top: 10px;
}
